absl-py==0.15.0
alabaster==0.7.12
albumentations==1.1.0
annoy==1.17.1
anyio==3.3.4
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.1.0
astunparse==1.6.3
attrs==21.2.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
build==0.8.0
cachetools==4.2.4
cachey==0.2.1
cellpose @ git+https://github.com/kevinjohncutler/cellpose@02d68c5add79c949afb2d5627f25a65c0cc65c69
centerline==0.6.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
clang==5.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.1.0
colour==0.1.5
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
dask==2022.8.1
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dnspython==2.2.1
docstring-parser==0.14.1
docutils==0.19
edt==2.3.0
efficientnet==1.0.0
elementpath==2.5.3
email-validator==1.2.1
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
fastjsonschema==2.16.2
fastremap==1.13.3
Fiona==1.8.21
flatbuffers==1.12
fonttools==4.38.0
freetype-py==2.3.0
fsspec==2022.7.1
gast==0.4.0
google-api-core==2.2.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-cloud-core==2.1.0
google-cloud-storage==1.42.3
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.1.0
googleapis-common-protos==1.53.0
grpcio==1.41.1
h5py==3.1.0
HeapDict==1.0.1
hsluv==5.0.3
idna==3.3
image-classifiers==1.0.0
imagecodecs==2022.8.8
imageio==2.10.1
imagesize==1.4.1
imgviz==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.4.0
ipykernel==6.5.0
ipympl==0.9.2
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
Jinja2==3.1.2
joblib==1.1.0
JPype1==1.4.0
json5==0.9.6
jsonschema==4.17.3
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyter-server==1.23.4
jupyterlab==3.4.5
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.5
jupyterlab_server==2.18.0
keras==2.6.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-unet-collection==0.1.13
kiwisolver==1.3.2
labelme==4.5.13
lightgbm==3.3.2
llvmlite==0.39.0
locket==1.0.0
lxml==4.9.1
magicgui==0.5.1
mahotas @ git+https://github.com/luispedro/mahotas@ba045e0dd9454662319c367cdc6535f87f826beb
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.6.2
matplotlib-inline==0.1.3
matplotlib-scalebar==0.8.1
mgen @ git+https://github.com/kevinjohncutler/mgen@011509a3b184a4efa97676932a502c636278ae5a
microfilm==0.2.1
mistune==2.0.4
munch==2.5.0
napari==0.4.16
napari-bioformats==0.2.1
napari-console==0.0.4
-e git+https://github.com/jzrolling/momia2-dev.git@fcee6d32be5e083ef2562740f1ad3fe608f18adf#egg=napari_momia&subdirectory=notebooks/napari-momia
napari-nikon-nd2==0.1.3
napari-plugin-engine==0.2.0
napari-svg==0.1.6
natsort==8.0.0
nbclassic==0.3.4
nbclient==0.5.4
nbconvert==7.2.7
nbformat==5.7.1
ncolor==1.1.2
nd2reader==3.3.0
nest-asyncio==1.5.1
networkx==2.6.3
notebook==6.4.5
npe2==0.6.1
numba==0.56.4
numpy==1.22.4
numpydoc==1.4.0
oauthlib==3.1.1
ome-types==0.3.0
omnipose @ git+https://github.com/kevinjohncutler/omnipose.git@1a08182acfdb29cd2379cacc13c6ce635be2d37a
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.58
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==22.0
pacmap==0.6.5
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.2
partd==1.3.0
patchify==0.2.3
pbr==5.10.0
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
PIMS==0.4.1
Pint==0.19.2
pkgutil_resolve_name==1.3.10
plaidml==0.7.0
plotly==5.11.0
pooch==1.6.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
psutil==5.9.1
psygnal==0.3.5
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.9.2
Pygments==2.10.0
pynndescent==0.5.7
PyOpenGL==3.1.6
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
pyqtdarktheme @ git+https://github.com/kevinjohncutler/pyqtdarktheme@1b2d4ed600f7dc4862ec69ebd2ebaf142e48c121
pyqtgraph==0.12.4
pyrsistent==0.18.0
python-dateutil==2.8.2
pytomlpp==1.0.11
pytorch-ranger==0.1.1
pytz==2021.3
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.3.1
QtPy==2.2.0
qudida==0.0.4
read-roi==1.6.0
requests==2.28.1
requests-oauthlib==1.3.0
rich==12.5.1
roifile==2022.9.19
rsa==4.7.2
scikit-image==0.19.3
scikit-learn==1.0.1
scipy==1.10.0
seaborn==0.11.2
segmentation-models==1.0.1
Send2Trash==1.8.0
Shapely==1.8.0
six==1.15.0
slicerator==1.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
superqt==0.3.5
system-hotkey==1.0.3
tenacity==8.1.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.0
torch==1.10.0
torch-optimizer==0.3.0
tornado==6.1
tqdm==4.62.3
trackpy==0.3.3
traitlets==5.1.1
treeswift==1.1.28
typer==0.6.1
typing_extensions==4.3.0
umap-learn==0.5.3
urllib3==1.26.7
vispy==0.10.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.12.1
xarray==2022.12.0
xgboost==1.5.2
xmlschema==1.11.3
xmltodict==0.12.0
zipp==3.6.0
